.mud-navmenu {

    &.mud-navmenu-first-level {

        >.mud-nav-item {

            &:first-child {
                border-top-left-radius: var(--mud-default-borderradius);
                border-top-right-radius: var(--mud-default-borderradius);
            }

            &:last-child {
                border-bottom-left-radius: var(--mud-default-borderradius);
                border-bottom-right-radius: var(--mud-default-borderradius);
            }

            > .mud-nav-link {
                border-radius: inherit;
            }
        }
    }

    &.mud-navmenu-xxl {

        .mud-nav-link {
            display: flex !important;
            align-items: center !important;
        }

        .mud-icon-root {
            width: 3rem;
            height: 3rem;
        }

        .mud-nav-link-text {
            font-size: 1rem;
            color: var(--mud-palette-primary);
        }
    }
}
