.mud-navmenu {

    &.mud-navmenu-first-level {

        > .mud-nav-item {

            > .mud-nav-link {
                border-radius: inherit;
            }
        }
    }

    &.mud-navmenu-xxl {

        .mud-nav-link {
            display: flex !important;
            align-items: center !important;
            padding: 8px 8px !important;
        }

        .mud-icon-root {
            width: 2rem;
            height: 2rem;
        }

        .mud-nav-link-text {
            font-size: 1rem;
            color: var(--mud-palette-primary);
        }
    }
}
