.mud-navmenu {

    &.mud-navmenu-first-level {

        >.mud-nav-item {

            &:first-child {
                border-top-left-radius: var(--mud-default-borderradius);
                border-top-right-radius: var(--mud-default-borderradius);
            }

            &:last-child {
                border-bottom-left-radius: var(--mud-default-borderradius);
                border-bottom-right-radius: var(--mud-default-borderradius);
            }

            > .mud-nav-link {
                border-radius: inherit;
            }
        }
    }
}
