.ui-detail-list-item {



    .ui-detail-list-item-icon {

    }

    .ui-detail-list-item-content {

        .ui-detail-list-item-title {

        }

        .ui-detail-list-item-caption {

        }
    }
}
