:root {
    --cell-size: 170px;
    --cell-size: 73px;
    --cell-gap: 24px;
    --widget-border-radius: 12px;
    --ui-widget-drawer-width: calc((var(--cell-size) * 8) + (var(--cell-gap) * 7) + var(--cell-gap));

    --hb-widget-padding: calc(var(--widget-border-radius) / 3);
}

.hb-widget-container {
    height: inherit;
    width: inherit;
}

.hb-widget-grid {
    display: grid;
    gap: var(--cell-gap);

    // Automatic column calculation - use auto-fill instead of auto-fit and remove 1fr
    grid-template-columns: repeat(auto-fill, var(--cell-size));
    grid-template-rows: repeat(auto-fill, var(--cell-size));

    // Automatic row calculation based on available height
    grid-auto-rows: var(--cell-size);

    // Ensure the grid fills the available space
    width: 100%;
    height: 100%;
}

.ui-widget-list {
    display: flex;
    flex-direction: column;
    row-gap: var(--cell-gap);
    padding: calc(var(--cell-gap) / 2);
}

.ui-widget {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > * {
        flex: 1 1 auto;
    }

    &.w-2 {
        width: calc(var(--cell-size) * 2 + var(--cell-gap) * 1);
    }

    &.w-4 {
        width: calc(var(--cell-size) * 4 + var(--cell-gap) * 3);
    }

    &.w-8 {
        width: calc(var(--cell-size) * 8 + var(--cell-gap) * 7);
    }

    &.h-1 {
        height: calc(var(--cell-size) * 1 + var(--cell-gap) * 0);
    }

    &.h-2 {
        height: calc(var(--cell-size) * 2 + var(--cell-gap) * 1);
    }

    &.h-4 {
        height: calc(var(--cell-size) * 4 + var(--cell-gap) * 3);
    }
}

.hb-widget-selection-drawer {
    // use size for 8x* widgets
    width: var(--ui-widget-drawer-width);
}
