.ui-icon {

    &.ui-icon-filled {

    }

    &.ui-icon-outlined {
    }

    &.ui-icon-plain {

    }

    > .ui-icon-el {
        border-radius: var(--hb-ui-icon-border-radius, 0);

        &.ui-icon-filled {
            color: #ffffff;
            padding: 2px;
        }

        &.ui-icon-outlined {
            border-width: 1px;
            border-style: solid;
            padding: 1px;

            &.mud-icon-size-large {
                border-width: 2px;
            }
        }

        &.ui-icon-plain {

        }
    }
}
