.ui-detail-card {
    color: orchid;
}

.ui-detail-card-container {
    color: cornflowerblue;

    .ui-detail-card-content {
        color: yellowgreen;
    }

    .ui-detail-card-header {
        color: darkorchid;
    }

    .ui-detail-card-footer {
        color: goldenrod;
    }
}
