$startmenu-background-icon-size: 140px;
$startmenu-background-icon-opacity: 0.075;
$startmenu-container-background: transparent;
$startmenu-icon-background-opacity: 75%;
$startmenu-icon-borderradius: 8px;
$startmenu-icon-size: 1.5em;

:root {
    --#{$hb-prefix}-startmenu-background-icon-size: #{$startmenu-background-icon-size};
    --#{$hb-prefix}-startmenu-background-icon-opacity: #{$startmenu-background-icon-opacity};
    --#{$hb-prefix}-startmenu-container-background: #{$startmenu-container-background};
    --#{$hb-prefix}-startmenu-icon-background-opacity: #{$startmenu-icon-background-opacity};
    --#{$hb-prefix}-startmenu-icon-borderradius: #{$startmenu-icon-borderradius};
    --#{$hb-prefix}-startmenu-icon-size: #{$startmenu-icon-size};
}

.ui-startmenu {

}

.ui-startmenu-item {

}

.ui-startmenu-item-link {
    background: var(--#{$hb-prefix}-startmenu-container-background);
}

.ui-startmenu-container {
    width: 100%;
    overflow: hidden;
}

.ui-startmenu-item-background-icon {
    height: var(--#{$hb-prefix}-startmenu-background-icon-size);
    width: var(--#{$hb-prefix}-startmenu-background-icon-size);
    opacity: var(--#{$hb-prefix}-startmenu-background-icon-opacity);
    position: absolute;
    z-index: -1;
    top: -25px;
    left: -25px;
}

.ui-startmenu-item-content {


    .ui-startmenu-item-icon-border {
        background-color: color-mix(in srgb, var(--startmenu-item-color), transparent var(--#{$hb-prefix}-startmenu-icon-background-opacity));
        border-radius: var(--#{$hb-prefix}-startmenu-icon-borderradius);
    }

    .ui-startmenu-item-icon-container {

    }

    .ui-startmenu-item-icon {
        color: var(--startmenu-item-color);
        height: var(--#{$hb-prefix}-startmenu-icon-size);
        width: var(--#{$hb-prefix}-startmenu-icon-size);
    }

    .ui-startmenu-item-title {

    }

    .ui-startmenu-item-caption {

    }

    .ui-startmenu-item-nav {

    }
}
