.ui-value-header {
    color: hotpink;

    .ui-value-card-title {
        color: sienna;
    }

    .ui-value-display {
        color: darkgreen;
    }
}

.ui-value-footer-text {
    color: cadetblue;
}
