.ui-startmenu {

}

.ui-startmenu-item {

}

.ui-startmenu-item-link {
    background: var(--#{$hb-prefix}-startmenu-container-background);
    width: 100%;
}

.ui-startmenu-container {
    width: 100%;
    overflow: hidden;
}

.ui-startmenu-item-background-icon {
    height: var(--#{$hb-prefix}-startmenu-background-icon-size);
    width: var(--#{$hb-prefix}-startmenu-background-icon-size);
    opacity: var(--#{$hb-prefix}-startmenu-background-icon-opacity);
    position: absolute;
    z-index: -1;
    top: -25px;
    left: -25px;
}

.ui-startmenu-item-content {

    .ui-startmenu-item-title {

    }

    .ui-startmenu-item-caption {

    }

    .ui-startmenu-item-nav {

    }
}
