.ui-detail-card {
    color: inherit;
}

.ui-detail-card-container {
    color: inherit;

    .ui-detail-card-content {
        color: inherit;
    }

    .ui-detail-card-header {
        color: inherit;
    }

    .ui-detail-card-footer {
        color: inherit;
    }
}
