.ui-countdown-alert {
    overflow: hidden;
    position: relative;
    border-radius: var(--mud-default-borderradius);

    .mud-progress-linear {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
