@using HomeBook.Client
@using HomeBook.Frontend.Abstractions.Contracts

@inject ILocalizationProvider Loc
@inject IConfiguration Configuration
@inject ISetupService SetupService
@inject BackendClient BackendClient

<MudCard Class="frosted-b3 mud-elevation-6">

    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4">Database Setup</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>

        @if (_isMigrating)
        {
            <div class="relative d-flex flex-grow-1 flex-wrap flex-column justify-center align-center">
                <MudProgressLinear Color="Color.Primary"
                                   Indeterminate="true"
                                   Class="my-7"/>
            </div>
        }

        @if (!_isMigrating)
        {
            @if (_migrationSuccessful)
            {
                <UiCountdownAlert Class="mt-3"
                                  Duration="TimeSpan.FromSeconds(5)"
                                  OnFinished="async () => await OnCountdownFinishedAsync()"
                                  Severity="Severity.Info">
                    Migration was successful.
                </UiCountdownAlert>
            }

            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <MudAlert Class="mt-3"
                          Severity="Severity.Error">
                    @_errorMessage
                </MudAlert>

                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           Class="mt-3"
                           StartIcon="@Icons.Material.TwoTone.Autorenew"
                           OnClick="async () => await StartAsync()">
                    Retry
                </MudButton>
            }

            @if (!_migrationSuccessful)
            {
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           Class="mt-3"
                           StartIcon="@Icons.Material.TwoTone.FileDownload"
                           OnClick="async () => await StartAsync()">
                    Start Migration
                </MudButton>
            }
        }

    </MudCardContent>

</MudCard>
