@using HomeBook.Client
@using HomeBook.Frontend.Abstractions.Contracts

@inject ILocalizationProvider Loc
@inject ISetupService SetupService
@inject BackendClient BackendClient

<MudCard Class="frosted-b3 mud-elevation-6">

    <MudCardHeader Class="no-divider">
        <CardHeaderContent>
            @if (_setupSuccessful && !_setupFailed)
            {
                <MudText Typo="Typo.h4">HomeBook Setup is finished</MudText>
            }
            else
            {
                <MudText Typo="Typo.h4">HomeBook Setup</MudText>
            }
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent Class="no-divider">

        @if (_setupIsRunning)
        {
            <div class="relative d-flex flex-grow-1 flex-wrap flex-column justify-center align-center">
                <MudProgressLinear Color="Color.Primary"
                                   Indeterminate="true"
                                   Class="my-7"/>
            </div>
        }

        @if (!_setupIsRunning)
        {
            @if (!_setupSuccessful && !_setupFailed)
            {
                <UiCountdownAlert Class="mt-3"
                                  Duration="TimeSpan.FromSeconds(5)"
                                  OnFinished="async () => await OnStartSetupCountdownFinishedAsync()"
                                  Severity="Severity.Info">
                    The setup is prepared and is starting now.
                </UiCountdownAlert>
            }

            @if (_setupSuccessful && !_setupFailed)
            {
                <div class="d-flex flex-column justify-center flex-grow-1 gap-4">
                    <MudText Typo="Typo.body1"
                             Class="mb-3">
                        The setup was successful.
                    </MudText>
                    <MudText Typo="Typo.body1"
                             Class="mb-5">
                        Please remove the Setup Environment Variables from your docker configuration.
                    </MudText>
                    <MudButton OnClick="OnStartHomeBookAsync"
                               Size="Size.Large"
                               Variant="Variant.Filled"
                               Color="Color.Primary">
                        Start HomeBook
                    </MudButton>
                </div>
                @* <UiCountdownAlert Class="mt-3" *@
                @*                   Duration="TimeSpan.FromSeconds(5)" *@
                @*                   OnFinished="async () => await OnCountdownFinishedAsync()" *@
                @*                   Severity="Severity.Info"> *@
                @*     Setup was successful. *@
                @* </UiCountdownAlert> *@
            }

            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <MudAlert Class="mt-3"
                          Severity="Severity.Error">
                    @_errorMessage
                </MudAlert>

                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           Class="mt-3"
                           StartIcon="@Icons.Material.TwoTone.Autorenew"
                           OnClick="async () => await StartSetupAsync()">
                    Retry Setup
                </MudButton>
            }
        }

    </MudCardContent>

</MudCard>
