@page "/Kitchen/Recipes/{RecipeId:guid}/Edit"

@using HomeBook.Frontend.Core.Icons
@using HomeBook.Frontend.Module.Kitchen.Contracts

@inject IRecipeService RecipeService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@if (!_isLoading
     && _recipe != null)
{
    <MudContainer>

        <MudPaper Class="frosted-b6 text-dark mb-5 pa-3 rounded-pill">

            <MudToolBar Dense="true"
                        Class="px-0">

                <MudTooltip Color="Color.Primary"
                            Text="+View Recipe">
                    <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Outline.RestaurantMenu"
                                   Href="@string.Format("/Kitchen/Recipes/{0}/View", RecipeId)"
                                   Color="Color.Primary"/>
                </MudTooltip>

                <MudSpacer/>

                <MudText Typo="Typo.h5">
                    @_recipe.Name
                </MudText>

                <MudSpacer/>

                <MudTooltip Color="Color.Error"
                            Text="+Delete Recipe">
                    <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Outline.Trash"
                                   OnClick="DeleteRecipe"
                                   Color="Color.Error"/>
                </MudTooltip>

            </MudToolBar>

        </MudPaper>

    </MudContainer>
}

<MudContainer>

    @if (_isLoading)
    {
        <div class="d-flex justify-center">
            <MudProgressCircular Color="Color.Primary"
                                 Indeterminate="true"/>
        </div>
    }

    @if (!_isLoading)
    {
    }

</MudContainer>
