@using HomeBook.Frontend.Abstractions.Contracts
@using HomeBook.Frontend.Services.Extensions

@inject ISetupService SetupService

<div class="ui-setup-step-container ui-setup-@_activeSetupStep?.Key.ToCssClass()">
    @if (_activeSetupStep is not null)
    {
        <DynamicComponent Type="@_activeSetupStep.GetType()"/>
    }
</div>
