<div class="ui-colored-icon-container d-flex justify-center"
     style="@string.Format($"--ui-colored-icon-color: {Color};")">

    <div class="ui-colored-icon-frame d-flex justify-center pa-2">

        <MudIcon Icon="@Icon"
                 Class="ui-colored-icon"/>

    </div>

</div>
