<div class="@ContainerCss">

    <div class="ui-detail-list-item-icon">
        <MudIcon Icon="@Icon"
                 Size="@IconSize"/>
    </div>

    <div class="ui-detail-list-item-content">

        <div class="ui-detail-list-item-title">
            @UiDetailListItemTitle
        </div>

        <div class="ui-detail-list-item-caption">
            @UiDetailListItemCaption
        </div>

    </div>

</div>
