<MudCard Class="ui-detail-card">

    <MudCardContent Class="no-divider">

        <div class="ui-detail-card-container">

            <div class="ui-detail-card-content d-flex justify-space-between">

                <div class="ui-detail-card-header">

                    @HeaderContent

                </div>

                <UiColoredIcon Color="@Color"
                               Icon="@Icon"/>
            </div>

            <div class="ui-detail-card-footer">

                @FooterContent

            </div>

        </div>

    </MudCardContent>

</MudCard>
