@using HomeBook.Frontend.Core.Icons
@using HomeBook.Frontend.Module.Kitchen.Contracts
@using HomeBook.Frontend.Module.Kitchen.ViewModels

@inject IRecipeService RecipeService

<MudDialog>

    <DialogContent>

        <div class="d-flex align-center gap-3 mb-4">
            <MudTextField Label="+Suche nach Gericht"
                          @ref="_searchTextField"
                          T="string"
                          Clearable="true"
                          Immediate="true"
                          Variant="Variant.Outlined"
                          Value="_searchText"
                          ValueChanged="@(value => OnSearchTextFieldValueChanged(value))"
                          Margin="Margin.Dense"/>

            <MudTooltip Text="+Als neues Gericht anlegen"
                        Color="Color.Primary">
                <MudIconButton Icon="@HomeBookIcons.Icons8.Windows11.Filled.PlusCircle"
                               Disabled="string.IsNullOrWhiteSpace(_searchText) || _isLoading"
                               Variant="Variant.Text"
                               OnClick="CreateAsNewMeal"
                               Color="Color.Primary"/>
            </MudTooltip>
        </div>

        @if (_isLoading)
        {
            <MudProgressLinear Color="Color.Primary"
                               Indeterminate="true"/>
        }

        <MudList T="RecipeViewModel">

            @foreach (RecipeViewModel meal in _mealItems)
            {
                <MudListItem T="RecipeViewModel"
                             OnClick="() => SelectMealAsync(meal)">

                    <AvatarContent>
                        <MudAvatar>
                            <MudAvatar Color="Color.Tertiary">@meal.Name[0]</MudAvatar>
                        </MudAvatar>
                    </AvatarContent>

                    <ChildContent>
                        @meal.Name
                    </ChildContent>

                </MudListItem>
            }

        </MudList>

    </DialogContent>

</MudDialog>
