name: Build and Deploy

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: write
    packages: write

env:
    # docker image name for backend image (backend only)
#    DOCKER_IMAGE: "docker.io/homebookio/server"
    # docker image name for ui app image (frontend only)
#    DOCKER_IMAGE: "docker.io/homebookio/ui-blazor-wasm"
    # docker image name for combined image (backend + frontend)
    DOCKER_IMAGE: "docker.io/homebookio/app"

    DOCKER_PLATFORMS: "linux/amd64,linux/arm64"
    VERSION: "1.0.${{ github.run_number }}"
    DOTNET_VERSION: "10.0.x"
    FRONTEND_APPSETTINGS_FILE: "./source/HomeBook.Frontend/wwwroot/appsettings.json"
    BACKEND_APPSETTINGS_FILE: "./source/HomeBook.Backend/appsettings.json"
    OPENAPI_FILE: "./source/HomeBook.Backend/HomeBook.Backend.json"
    CLIENT_CSPROJ: "./source/HomeBook.Client/HomeBook.Client.csproj"
    CLIENT_OUTPUT_DIR: "./source/HomeBook.Client"
    CLIENT_NAMESPACE: "HomeBook.Client"
    CLIENT_CLASS: "BackendClient"
    UNIT_TEST_CSPROJ: "./source/HomeBook.UnitTests/HomeBook.UnitTests.csproj"
    E2E_TEST_CSPROJ: "./source/HomeBook.E2ETests/HomeBook.E2ETests.csproj"

jobs:

    build-test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
                    clean: true

            -   name: Set up JDK 17
                uses: actions/setup-java@v4
                with:
                    java-version: 17
                    distribution: 'zulu'

            -   name: Setup .NET
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: ${{ env.DOTNET_VERSION }}

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    node-version: 22

            -   name: Install NPM Sass
                run: npm install --save-dev sass

            -   name: Install SonarQube Cloud scanner
                run: |
                    dotnet tool install --global dotnet-sonarscanner

            -   name: Install Kiota CLI
                run: |
                    dotnet tool install --global Microsoft.OpenApi.Kiota

            -   name: Install ReportGenerator
                run: |
                    dotnet tool install --global dotnet-reportgenerator-globaltool

            -   name: Install .NET Coverage
                run: |
                    dotnet tool install --global dotnet-coverage

            -   name: .NET Restore
                run: |
                    dotnet restore

            -   name: .NET Build (Service for Client Generation)
                run: |
                    dotnet build --no-restore

            -   name: Generate Client
                shell: bash
                run: |
                    kiota generate \
                      --language csharp \
                      --class-name ${{ env.CLIENT_CLASS }} \
                      --namespace-name ${{ env.CLIENT_NAMESPACE }} \
                      --openapi ${{ env.OPENAPI_FILE }} \
                      --output ${{ env.CLIENT_OUTPUT_DIR }} \

            -   name: Begin SonarQube
                shell: pwsh
                env:
                    SONARTOKEN: ${{ secrets.SONAR_TOKEN }}
                run: |
                    dotnet-sonarscanner begin `
                      /k:"lk-code_homebook" `
                      /o:"lk-code-github" `
                      /d:sonar.token="$env:SONARTOKEN" `
                      /d:sonar.host.url="https://sonarcloud.io" `
                      /d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml `
                      /d:sonar.exclusions="**/Licenses.json,**/Licenses/**,**/bin/**,**/obj/**,**/Migrations/**" `
                      /d:sonar.coverage.exclusions="**/Licenses.json,**/Licenses/**,**/bin/**,**/obj/**,**/Migrations/**" `
                      /d:sonar.cpd.exclusions="**/Licenses.json,**/Licenses/**,**/Migrations/**" `
                      /d:sonar.security.exclusions="**/Licenses.json,**/Licenses/**,**/Migrations/**"

            -   name: .NET Build
                shell: pwsh
                run: |
                    dotnet build --no-restore

            -   name: Collect Test Coverage
                shell: pwsh
                run: |
                    dotnet-coverage collect "dotnet test ${{ env.UNIT_TEST_CSPROJ }} --no-build" -f xml -o "coverage.xml"

            -   name: End SonarQube
                shell: pwsh
                env:
                    SONARTOKEN: ${{ secrets.SONAR_TOKEN }}
                run: |
                    dotnet-sonarscanner end /d:sonar.token="$env:SONARTOKEN"

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

            -   name: Build Docker Image
                run: |
                    docker build \
                      --file ./Dockerfile \
                      --build-arg FRONTEND_APPSETTINGS_FILE=${{ env.FRONTEND_APPSETTINGS_FILE }} \
                      --build-arg BACKEND_APPSETTINGS_FILE=${{ env.BACKEND_APPSETTINGS_FILE }} \
                      --tag test-image .

#    tests-e2e:
#        runs-on: ubuntu-latest
#        needs:
#            - build-test
#
#        steps:
#            -   name: Checkout repository
#                uses: actions/checkout@v4
#                with:
#                    fetch-depth: 0
#                    clean: true
#
#            -   name: Setup .NET
#                uses: actions/setup-dotnet@v4
#                with:
#                    dotnet-version: ${{ env.DOTNET_VERSION }}
#
#            -   name: .NET Restore
#                run: |
#                    dotnet restore ${{ env.E2E_TEST_CSPROJ }}
#
#            -   name: .NET Build
#                run: |
#                    dotnet build ${{ env.E2E_TEST_CSPROJ }} --no-restore
#
#            -   name: .NET Tests - E2E
#                run: |
#                    dotnet test ${{ env.E2E_TEST_CSPROJ }} --no-build

    post-build:
        runs-on: ubuntu-latest
        needs:
            - build-test
#            - tests-e2e

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
                    clean: true

            -   name: Setup .NET
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: ${{ env.DOTNET_VERSION }}

            -   name: Configure Git User and Auth
                run: |
                    git config user.name "GitHub Actions"
                    git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
                    git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

            #            -   name: Install .NET NuGet License
            #                run: |
            #                    dotnet tool install --global nuget-license
            #
            #            -   name: Restore dependencies
            #                run: |
            #                    dotnet restore
            #
            #            -   name: Build OpenAPI
            #                run: |
            #                    dotnet build --configuration Release --no-restore
            #
            #            -   name: clean up nuget licenses
            #                run: |
            #                    rm source/HomeBook.Backend.Core.Licenses/Licenses.json
            #                    rm -rf source/HomeBook.Backend.Core.Licenses/Licenses
            #                    mkdir -p source/HomeBook.Backend.Core.Licenses/Licenses
            #
            #            -   name: generate nuget license index
            #                run: |
            #                    nuget-license -i ./homebook.slnx --include-transitive --output JsonPretty --file-output source/HomeBook.Backend.Core.Licenses/Licenses.json
            #
            #            -   name: generate nuget licenses
            #                run: |
            #                    nuget-license -i ./homebook.slnx --include-transitive -d source/HomeBook.Backend.Core.Licenses/Licenses/
            #
            #            -   name: save nuget licenses
            #                run: |
            #                    git add source/HomeBook.Backend.Core.Licenses/Licenses.json
            #                    git add source/HomeBook.Backend.Core.Licenses/Licenses/

            -   name: update Frontend appsettings.json
                run: |
                    sed -i "s/\"Version\": \".*\"/\"Version\": \"$VERSION\"/" ${{ env.FRONTEND_APPSETTINGS_FILE }}
                    git add ${{ env.FRONTEND_APPSETTINGS_FILE }}

            -   name: cat Frontend appsettings.json
                run: |
                    cat ${{ env.FRONTEND_APPSETTINGS_FILE }}

            -   name: update Backend appsettings.json
                run: |
                    sed -i "s/\"Version\": \".*\"/\"Version\": \"$VERSION\"/" ${{ env.BACKEND_APPSETTINGS_FILE }}
                    git add ${{ env.BACKEND_APPSETTINGS_FILE }}

            -   name: cat Backend appsettings.json
                run: |
                    cat ${{ env.BACKEND_APPSETTINGS_FILE }}

            -   name: Create or update deploy branch
                run: |
                    git fetch origin
                    git checkout main
                    git pull origin main
                    git checkout -B deploy
                    if ! git diff --cached --quiet; then
                      git commit -m "Release version ${{ env.VERSION }}"
                    fi
                    git tag ${{ env.VERSION }}
                    git push origin deploy --force
                    git push origin ${{ env.VERSION }}

    client-deploy:
        runs-on: ubuntu-latest
        needs:
            - post-build

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    ref: deploy
                    clean: true

            -   name: Setup .NET
                uses: actions/setup-dotnet@v4
                with:
                    dotnet-version: ${{ env.DOTNET_VERSION }}

            -   name: Install Kiota CLI
                run: |
                    dotnet tool install --global Microsoft.OpenApi.Kiota

            -   name: Restore dependencies
                run: |
                    dotnet restore

            -   name: Build Solution
                run: |
                    dotnet build --configuration Release --no-restore

            -   name: Generate Client
                run: |
                    kiota generate \
                      --language csharp \
                      --class-name ${{ env.CLIENT_CLASS }} \
                      --namespace-name ${{ env.CLIENT_NAMESPACE }} \
                      --openapi ${{ env.OPENAPI_FILE }} \
                      --output ${{ env.CLIENT_OUTPUT_DIR }} \

            -   name: Build Client
                run: |
                    dotnet build ${{ env.CLIENT_CSPROJ }} --configuration Release --no-restore -p:PackageVersion=${{ env.VERSION }}

            -   name: Upload NuGet Artifact
                uses: actions/upload-artifact@v4.6.2
                with:
                    name: ${{ env.VERSION }}
                    path: "**/*.${{ env.VERSION }}.nupkg"

            -   name: Upload Client Artifact
                uses: actions/upload-artifact@v4.6.2
                with:
                    name: client-output
                    path: ${{ env.CLIENT_OUTPUT_DIR }}

            -   name: Publish
                run: |
                    dotnet nuget push "**/*.${{ env.VERSION }}.nupkg" --no-symbols --skip-duplicate --api-key ${{ secrets.NUGET_API_KEY }} --source "nuget.org"

    docker-deploy:
        runs-on: ubuntu-latest
        needs:
            - post-build

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    ref: deploy
                    clean: true

            -   name: Setup Docker Buildx
                uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435

            -   name: Log in to Docker Hub
                uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}

            -   name: Extract metadata (tags, labels) for Docker
                id: meta
                uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
                with:
                    images: ${{ env.DOCKER_IMAGE }}
                    tags: |
                        type=raw,value=${{ env.VERSION }}
                        type=raw,value=latest

            -   name: Build and push Docker image
                uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
                with:
                    context: ./
                    file: ./Dockerfile
                    push: true
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    platforms: ${{ env.DOCKER_PLATFORMS }}
                    build-args: |
                        FRONTEND_APPSETTINGS_FILE=${{ env.FRONTEND_APPSETTINGS_FILE }}
                        BACKEND_APPSETTINGS_FILE=${{ env.BACKEND_APPSETTINGS_FILE }}
