name: Pull Request

on:
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: "9.0.x"
  FRONTEND_APPSETTINGS_FILE: "./source/HomeBook.Frontend/wwwroot/appsettings.json"
  BACKEND_APPSETTINGS_FILE: "./source/HomeBook.Backend/appsettings.json"
  OPENAPI_FILE: "./source/HomeBook.Backend/HomeBook.Backend.json"
  CLIENT_CSPROJ: "./source/HomeBook.Client/HomeBook.Client.csproj"
  CLIENT_OUTPUT_DIR: "./source/HomeBook.Client"
  CLIENT_NAMESPACE: "HomeBook.Client"

jobs:

  pull-request-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install SonarQube Cloud scanner
        run: |
          dotnet tool install --global dotnet-sonarscanner

      - name: Install Kiota CLI
        run: |
          dotnet tool install --global Microsoft.OpenApi.Kiota

      - name: Install ReportGenerator
        run: |
          dotnet tool install --global dotnet-reportgenerator-globaltool

      - name: Restore dependencies
        run: |
          dotnet restore

      - name: Build
        run: |
          dotnet build --configuration Release --no-restore

      - name: Generate Client
        shell: bash
        run: |
          kiota generate \
            --language csharp \
            --class-name RestClient \
            --namespace-name ${{ env.CLIENT_NAMESPACE }} \
            --openapi ${{ env.OPENAPI_FILE }} \
            --output ${{ env.CLIENT_OUTPUT_DIR }} \

      - name: Build And Test
        shell: pwsh
        env:
          SONARTOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet-sonarscanner begin /k:"lk-code_homebook" /o:"lk-code-github" /d:sonar.token="$env:SONARTOKEN" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml"
          dotnet build --configuration Release --no-restore
          dotnet test --configuration Release --no-restore --collect:"XPlat Code Coverage" --results-directory TestResults
          reportgenerator -reports:**/TestResults/**/*.xml -targetdir:coverage-report -reporttypes:Html
          dotnet-sonarscanner end /d:sonar.token="$env:SONARTOKEN"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          docker build \
            --file ./Dockerfile \
            --build-arg FRONTEND_APPSETTINGS_FILE=${{ env.FRONTEND_APPSETTINGS_FILE }} \
            --build-arg BACKEND_APPSETTINGS_FILE=${{ env.BACKEND_APPSETTINGS_FILE }} \
            --tag test-image .
