@use "sass:color";

$modern-colors: (
    // brands
    brand-github: #24292e,
    brand-docker: #2496ed,
    brand-ubuntu: #e95420,

    // colors
    aqua: #00b4d8,
    amethyst: #9333EA,
    denim: #2f6690,
    cerulean: #2563EB,
    ocean: #1e6091,
    azure: #4f9ef8,
    lavender: #c084fc,
    plum: #8e4585,
    rose: #e57373,
    crimson: #DC2626,
    ruby: #16A34A,
    emerald: #118C4F,
    teal: #009688,
    petrol: #008080,
    wine: #722f37,
    mulberry: #9b2242,
    fern: #628b48,
    honey: #f6be4f,
    lemon: #FFF176,
    gold: #ffb547,
    amber: #FF9800,
    coral: #ff7f50,
    caramel: #c77a35,
    stone: #78716c,
    graphite: #3d3d3d,
    charcoal: #4b5563,
    storm: #475569,
    smoke: #737373,
    shadow: #1f2937,
    steel: #6b7280,
    peach: #ffbc9a,
    sunset: #fb7185,
    chartreuse: #A7F432,
    spring: #00E676,
    apple: #2ECC71,
    jade: #00BFA5,
);

:root {
    @each $name, $color in $modern-colors {
        --#{$hb-prefix}-color-#{$name}: #{$color};
    }
}

@each $name, $color in $modern-colors {
    $bg-text-color: #ffffff;

    @if color.lightness($color) > 60 {
        $bg-text-color: #000000;
    }

    .ui-color-#{$name} {
        color: var(--#{$hb-prefix}-color-#{$name});
    }
    .ui-color-bg-#{$name} {
        background-color: var(--#{$hb-prefix}-color-#{$name});
        color: $bg-text-color;
    }
}
