@use "sass:color";

$modern-colors: (
    // brands
    brand-github: #24292e,
    brand-docker: #2496ed,
    brand-ubuntu: #e95420,

    // colors
    amethyst: #9333EA,
    cerulean: #2563EB,
    crimson: #DC2626,
    ruby: #16A34A,
    emerald: #118C4F,
    amber: #FF9800,
    teal: #009688,
    petrol: #008080,
    azure: #4f9ef8,
    lavender: #c084fc,
    //demo colors
    sand: #e7d8b1,
    beige: #f5eedc,
    linen: #f0ebe3,
    amber1: #ffb547,
    honey: #f6be4f,
    caramel: #c77a35,
    clay: #b66a50,
    terracotta: #e07a5f,
    copper: #b87333,
    bronze: #a97142,
    moss: #7a8450,
    olive: #9a9b5e,
    sage: #a8b68a,
    avocado: #709255,
    forest: #355e3b,
    basil: #4f7942,
    fern: #628b48,
    khaki: #c3b091,
    stone: #78716c,
    graphite: #3d3d3d,
    sea: #2e8b8b,
    ocean: #1e6091,
    aqua: #00b4d8,
    turquoise: #40e0d0,
    mint: #aaf0d1,
    sky: #8ecae6,
    iceblue: #c9e9ff,
    denim: #2f6690,
    charcoal: #4b5563,
    slate: #64748b,
    storm: #475569,
    ash: #9ca3af,
    smoke: #737373,
    shadow: #1f2937,
    steel: #6b7280,
    pebble: #bcbcbc,
    fog: #d1d5db,
    cloud: #f3f4f6,
    plum: #8e4585,
    rose: #e57373,
    coral: #ff7f50,
    peach: #ffbc9a,
    apricot: #ffc891,
    sunset: #fb7185,
    wine: #722f37,
    mulberry: #9b2242,
    magenta: #d946ef
);

:root {
    @each $name, $color in $modern-colors {
        --#{$hb-prefix}-color-#{$name}: #{$color};
    }
}

@each $name, $color in $modern-colors {
    $bg-text-color: #ffffff;

    @if color.lightness($color) > 60 {
        $bg-text-color: #000000;
    }

    .ui-color-#{$name} {
        color: var(--#{$hb-prefix}-color-#{$name});
    }
    .ui-color-bg-#{$name} {
        background-color: var(--#{$hb-prefix}-color-#{$name});
        color: $bg-text-color;
    }
}
