$settings-color-instance-name: #2563EB;
$settings-color-default-language: #16A34A;
$settings-color-user-actions-disable: #FFA726;
$settings-color-user-actions-delete: #E53935;

:root {
    --#{$hb-prefix}-settings-color-instance-name: #{$settings-color-instance-name};
    --#{$hb-prefix}-settings-color-default-language: #{$settings-color-default-language};
    --#{$hb-prefix}-settings-color-user-actions-disable: #{$settings-color-user-actions-disable};
    --#{$hb-prefix}-settings-color-user-actions-delete: #{$settings-color-user-actions-delete};
}
